name: Generate Datas

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    name: Jobs to update datas
    runs-on: ubuntu-latest
    steps:
      # Create dist directory
      - name: Create dist folder
        run: mkdir -p dist

      # Snake Animation
      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: VMalberti
          svg_out_path: dist/github-contribution-grid-snake.svg

      # Deploy to output branch
      - uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
